.mainBoard {
    width: calc(var(--tile-width));
    height: calc(var(--tile-width));
}

.secondBoard {
    width: var(--tile-width-small);
    height: var(--tile-width-small);
}

.pieceOriginalTile:before {
    background: #caa3148c;
}

.tileUnderThreat::before {
    background: #ca14146f;
}

.piecePossibleMoves:before {
    background: #23ca1477;
}

.pieceDraggedOver:before {
    background: #1a14ca8c;
}
