.tile {
    position: relative;
}

.tileBackground {
    width: var(--tile-width);
    height: var(--tile-width);
}

.pieceOriginalTile:before {
    background: #caa3148c;
    content: '';
    height: var(--tile-width);
    pointer-events: none;
    position: absolute;
    width: var(--tile-width);
}

.tileUnderThreat::before {
    background: #ca14146f;
    content: '';
    height: var(--tile-width);
    pointer-events: none;
    position: absolute;
    width: var(--tile-width);
}

.piecePossibleMoves:before {
    background: #23ca1477;
    content: '';
    height: var(--tile-width);
    pointer-events: none;
    position: absolute;
    width: var(--tile-width);
}

.pieceDraggedOver:before {
    background: #1a14ca8c;
    content: '';
    height: var(--tile-width);
    pointer-events: none;
    position: absolute;
    width: var(--tile-width);
}
