.modalWrapper {
    width: 500px;
    height: 600px;
}

.modal {
    background: white;
    height:100%;
    width:100%;
    border-radius: 15px;
    padding: 15px;
}

.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalHeader {
    display: flex;
    font-size: 25px;
}

.modalHeader h1{
    margin: auto;
}

.modalBody {
    padding-top: 10px;
}

.possiblePromotionRow {
    display: flex;
    padding-top: 10px;
    width: 100%;
}

.possiblePromotionRow span {
    margin: auto;
}

.possiblePromotionRow:hover {
    background: #1a14ca8c;
}